body {
    background-color:#1c1c1c;
    color: #cccccc;
}

button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 2px 16px;
    height: 25px;
    border: none;
    color: #cccccc;
    background-color: rgb(87, 87, 90);
    transition: background-color 0.100s ease, color 0.100s ease;
}

#incrementNumbers:hover {
    background-color: #459900;
}

#decrementNumbers:hover {
    background-color: #dc322f;
}

#resetNumbers:hover {
    background-color: #b58900;
